<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<% @orders.each do |order| %>
  <div>
    <%= order.name %>
    <%= order.surname %>
    <%= order.phoneNumber %>
    <%= order.delivery_type.name %>
    <%= order.payment_type.name %>
    <% order.orders_products.each do |orders_products| %>
      <div class="table-of-contents">
        <%= orders_products.product.title %>
        <%= orders_products.amount %>
      </div>
    <% end %>
    ------------------
  </div>
<% end %>

