<h1>Orders#new</h1>

<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_for(@order) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :delivery_type_id %>
  <%= form.number_field :delivery_type_id %>

  <%= form.label :payment_type_id %>
  <%= form.number_field :payment_type_id %>

  <%= form.submit%>
<% end %>