<%= render '/functions/general' %>

<div class="products-content vpadding-5 hflex row">
  <div class="col m2 s3 no-padding">

    <div class="collection z-depth-1 no-border categories-list">
      <% @categories.each do |category| %>
        <a href="#" class="no-border collection-item truncate uppercase weight-medium clickable teal lighten-1 white-text"><%= category.name %></a>
      <% end %>
    </div>
  </div>
  <div class="col m10 s9">

    <div class="filters vflex">
      <div class="hflex">
        <div class="hflex">
          <div class="vflex-center" style="margin-right: 5px">
            <button class="btn-floating waves-effect waves-light">
              <i class="material-icons">view_list</i>
            </button>
          </div>
          <div class="vflex-center" style="margin-left: 5px">
            <button class="btn-floating waves-effect waves-light disabled">
              <i class="material-icons">view_module</i>
            </button>
          </div>
        </div>
        <div class="input-field hpadding-10 equal-flex">
          <i class="material-icons prefix">search</i>
          <input id="search" type="text" class="validate">
          <label for="search" class="hpadding-10">Найменування</label>
        </div>
        <div class="input-field equal-flex">
          <select class="beautifulSelect">
            <option value="" disabled selected>Сортувати за ...</option>
            <option value="1">За рейтингом</option>
            <option value="2">Від дешевих до дорогих</option>
            <option value="3">Від дорогих до дешевих</option>
            <option value="4">Популярні</option>
            <option value="5">Акційні</option>
          </select>
        </div>
      </div>
      <div style="margin-bottom: 20px">
        <p class="weight-medium grey-text text-darken-3 fs-sm">
          Від: <span data-range="products-price-range-left"></span> грн до: <span data-range="products-price-range-right"></span> грн
        </p>
        <div id="products-price-range"></div>
      </div>
    </div>

    <div class="products-area">
      <div class="row">

        <% @products.each do |product| %>

          <div class="col l3 m4 s6">
            <div class="card over-auto vflex z-depth-2 hoverable clickable">
              <div class="card-image">
                <div class="image-container full-width full-height waves-effect waves-light" style="background-image: url('<%= product.product_img.url %>')"></div>
                <a href="#" class="btn-floating halfway-fab waves-effect waves-light red">
                  <i class="material-icons">
                    favorite_border
                  </i>
                </a>
              </div>
              <div class="card-content vflex full-flex">
                <span class="card-title truncate" style="font-weight: 500"><%= product.title %></span>
                <div class="full-width vmargin-10">
                  <div class="left fs-sm">
                    <% priceFull, priceDecimals = format_price product.price %>
                    <%= priceFull %><sup><%= priceDecimals %></sup> грн.
                  </div>

                  <div class="right">
                    <%= render "/layouts/rating", rating: product.average_rating %>
                  </div>
                </div>
                <div class="hflex full-flex">
                  <div class="vflex-center">
                    <% if product.availability %>
                      <span class="new badge teal left no-margin" style="font-weight: 500" data-badge-caption="">
                        Є в наявності
                      </span>
                    <% else %>
                      <span class="new badge red lighten-1 left no-margin" style="font-weight: 500" data-badge-caption="">
                        Немає в наявності
                      </span>
                    <% end %>
                  </div>
                  <% if product.availability %>
                    <div class="full-flex"></div>
                    <i class="material-icons right teal-text text-darken-4 small">shopping_cart</i>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

      <% end %>

      </div>
    </div>

  </div>
</div>