<%= render '/functions/general' %>

<div class="product-content vpadding-20">
  <div class="row">
    <div class="product-image col-lg-4 col-xs-6 vflex">
      <%= image_tag @product.product_img.url, class: "productImage full-width", "data-id": @product.id %>
    </div>
    <div class="product-details col-lg-8 col-xs-12">
      <div class="product-options hflex">
        <div class="product-availability full-flex">
          <% if @product.availability %>
            <div class="badge badge-success existence-state">
              Є в наявності
            </div>
          <% else %>
            <div class="badge badge-danger existence-state">
              Немає в наявності
            </div>
          <% end %>
        </div>
        <% if user_signed_in? && (current_user.has_role? :admin) %>
          <div class="product-settings fs-md">
            <%= link_to edit_product_path(@product), class: "edit", method: :get do %>
              <i class="clickable clickable-icon fas fa-pencil-alt" title="Редагувати"></i>
            <% end %>
            <%= link_to product_path(@product), class: "remove", method: :delete, data: {confirm: "Are you sure"} do %>
              <i class="clickable clickable-icon fas fa-trash" title="Видалити"></i>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="productTitle product-title fs-lg" style="opacity: 0.7" data-id="<%= @product.id %>">
        <%= @product.title %>
      </div>
      <div class="product-rating hflex-start vmargin-10 fs-sm">
        <%= render "/layouts/rating", rating: @product.average_rating %>
      </div>
      <div class="productPrice product-price fs-md" style="opacity: 0.7" data-id="<%= @product.id %>" data-price="<%= @product.price %>">
        <% priceFull, priceDecimals = format_price @product.price %>
        <%= priceFull %><sup><%= priceDecimals %></sup> грн.
      </div>
      <% if @product.availability %>
        <%= render "/layouts/parts/product_quantity_buttons", product_id: @product.id %>
      <% end %>
      <div class="product-description">
        <p class="fs-md content-alignment-justify" style="opacity: 0.7; font-size: 21px;"><%= @product.description %></p>
      </div>
    </div>
  </div>
</div>

<%= render "ads_carousel" %>

<% if user_signed_in? %>
  <%= render "review_form" %>
<% end %>

<%= render "reviews" %>

<%= render "pages" %>

<!--From: <%#= @product.reviews.count %> reviews-->


