<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper hpadding-50 teal lighten-1">
      <ul class="left uppercase weight-medium">
        <li>
          <%= link_to "Головна", "/" %>
        </li>
        <li>
          <%= link_to "Каталог", products_path %>
        </li>
        <li>
          <%= link_to "Контакти", '/contacts' %>
        </li>
        <li>
          <a href="javascript:void(0)" class="color-wh">Про нас</a>
        </li>
      </ul>

      <ul class="right">
        <% if user_signed_in? %>
          <% if current_user.has_role? :admin %>
            <li title="Додати товар">
              <%= link_to new_product_path do %>
                <i class="material-icons navbar-icon">add</i>
              <% end %>
            </li>

            <li title="Додати категорію">
              <%= link_to new_category_path do %>
                <i class="material-icons navbar-icon">add</i>
              <% end %>
            </li>
          <% end %>

          <li title="Налаштування">
            <%= link_to edit_user_registration_path do %>
              <i class="material-icons navbar-icon">settings</i>
            <% end %>
          </li>

          <li title="Вихід">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="material-icons navbar-icon">exit_to_app</i>
            <% end %>
          </li>

        <% else %>
          <li title="Зареєструватись">
            <%= link_to new_user_registration_path do %>
              <i class="material-icons navbar-icon">person_add</i>
            <% end %>
          </li>
          <li title="Увійти">
            <%= link_to new_user_session_path do %>
              <i class="material-icons navbar-icon">person</i>
            <% end %>
          </li>
          <li title="">
            <i data-toggle="modal" data-target="#authentication-modal"></i>
          </li>
        <% end %>
        <li title="Корзина">
          <a href="#"><i class="material-icons navbar-icon">shopping_cart</i></a>
        </li>
        <%#= render "/layouts/cart" %>
      </ul>
    </div>
  </nav>
</div>