<!DOCTYPE html>
<html>
  <head>
    <title>FlowerShop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'includes', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="/css/fontawesome-all.min.css" />
  </head>

  <body class="parallax-element">
    <%= render template: "/layouts/_navbar" %>

    <div class="content hpadding-50">
      <%= yield %>
    </div>

    <%= render template: "/layouts/_footer" %>

    <%= render template: "/layouts/_authentication_form" %>

    <%= render template: "/layouts/_public_assets" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>